<div id="sidebar">

	<!-- Sidebar -->
	<h3>Who We Are</h3>
	<p>Our Project Name is a research project with so and so, funded by such and such foundation. We are trying to solve these issues. We are awesome and you want to learn more about us because...</p>
	<h3>Could Have Links Here</h3>
	<ul>
		<li>Link1</li>
		<li>Link2</li>
	</ul>

	<!-- Blog Post Snippets | Delete or comment out if no blog -->
	{% for post in site.posts offset: 0 limit: 2 %}
		<section>
			<h3>{{ post.title }}</h3>
			{{ post.excerpt }}
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
			</footer>
		</section>
	{% endfor %}
	
</div>